<!DOCTYPE html>
<html>
<head>
  <title>Blogs</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <h1>Blog Posts</h1>

    <ul>
      <% blogs.forEach(blog => { %>
        <li>
          <a href="/blog/<%= blog._id %>">
            <%= blog.title %>
          </a>
        </li>
      <% }) %>
    </ul>

    <a class="btn" href="/">Back to Home</a>
  </div>

</body>
</html>
