<!DOCTYPE html>
<html>
<head>
  <title>Blog Post</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <h1><%= blogPost.title %></h1>
    <p><%= blogPost.content %></p>

    <a class="btn" href="/blog">Back to Blogs</a>
  </div>

</body>
</html>
